* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.container {
    padding: 120px;
}
.highlight {
    color: #30B868;
}

.btn {
    background-color: #30B868;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}
.btn:hover {
    background: #FFFFFF;
    color: #469165;
    border: 2px solid #469165;
}
.secondary-btn{
    background: transparent;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    padding: 12px 16px;
    border-radius: 4px;
    cursor: pointer;
}
.secondary-btn:hover {
    background: #469165;
    color: #FFFFFF;
    border: 2px solid #469165;
}

/* Header Styles */
nav {
    display: flex;
    padding: 16px 120px;
    justify-content: space-between;
    align-items: center;
}

ul.menu {
    display: flex;
    gap: 24px;
}

.menu li {
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}

/* Hero Styles */

#hero-banner {
    background: url('../assets/hero-bg.png') ;
    background-repeat: no-repeat;
    background-position: center center;
}

.badge {
    background: #fff;
    color: #30B868;
    padding: 8px 12px;
    border-radius: 1000px;
}
.badge svg {
    margin-bottom: -2px;
}
.hero-banner-content {
    text-align: center;
    opacity: 0.9;
}
.hero-banner-content h2 {
    font-size: 72px;
    font-weight: 800;
    line-height: 84px;
    padding-top: 16px;
    padding-bottom: 16px;
    color: #FFFFFF;
}

.hero-banner-content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 32px;
    color: #FFFFFF;
}
.cta-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-bottom: 60px;
}


/* Notes Section */

.notes-info {
    display: flex;
    text-align: center;
}
.info-card img {
    border-radius: 100%;
    background: #F95555;
    padding: 15px;
}

.info-card {
    padding: 70px 24px 0;
}

.info-card h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    padding: 16px 0;
}

#notes-section h2 {
    text-align: center;
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
    padding-bottom: 16px;
}

#notes-section p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 44px;
}

#notes-section .info-card p {
    padding-bottom: 0;
}


#solutions .container {
    padding-top: 0;
}
.solutions-info {
    display: flex;
    align-items: center;
}

.solutions-right {
    padding-left: 60px;
}
.solutions-right h2 {
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
    padding: 16px 0;
}
.solutions-right p {
    padding-bottom: 40px;
    font-size: 16px;
    color: #627382;
}


.solutions-list li {
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding-bottom: 16px;
}

i.fa-solid.fa-check {
    color: #FFFFFF;
    background-color
: #30B868;
    border-radius: 100%;
    width: 20px;
    height: 20px;
}
.solutions-right h4 {
    color: #30B868;
    font-weight: 500;
    line-height: 20px;
    font-size: 16px;
}

/* Ready to think Section */

#ready-to-think .container {
    padding-top: 0;
}

.ready-to-think-content {
    text-align: center;
    margin: 0 auto;
    background-color: #F7F6F2;
    padding: 80px 40px;
}
.ready-to-think-content h2 {
    font-size: 40px;
    padding-bottom: 16px;
}

.ready-to-think-content p {
    color: #627382;
}
.ready-to-think-content .cta-buttons {
    padding: 16px 0;
}

footer {
    background-color: #001931;
}

footer .container {
    padding: 120px 120px 80px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.footer-social p {
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    line-height: 28px;
    padding-bottom: 16px;
}
.footer-social {
    padding-right: 107px;
}
.footer-social a
 {
    margin: 0 10px;
    font-size: 20px;
    background: #FFFFFF;
    border-radius: 100%;
    color: #000000;
}
.footer-note {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    text-align: center;
    color: #FFFFFF;
    padding: 30px 0;
}